<!-- <div class="p-3">
  <div *ngFor="let name1 of name" >{{name1}}</div>
    <div class="card-group mb-3 " *ngFor="let product of products">
        <div class="card" >
          <img class="card-img-top" src="{{product.productImageUrl}}" style="width: 200px;" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{product.productName}}</h5>
            <p class="card-text">{{product.productDescription}}</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

        
      </div>
</div> -->
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col" *ngFor="let product of products">
    <div class="card">
      
      <img src="{{product.productImageUrl}}" style="width: 200px;" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{product.productName}}</h5>
        <p class="card-text">{{product.productDescription}}</p>
        <strong class="badge badge-primary">Exclusive</strong>
      </div>
    </div>
  </div>

</div>